<!DOCTYPE html>
    <html lang="en" >
    <head>
        <title>--- Trading Robot interface ---</title>
        <!-- favicon -->
        <link rel="icon" type="image/x-icon" href="images/favicon.jpg" />
        <!-- Angular JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
        <script src="/lib/angular/angular.js"></script>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/darkly/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!--- Chart -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css">

    </head>
    <body ng-app="myApp">

    <!-- Navigation bar -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#">My Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Parameters</a>
        </li>
    </ul>

    <!-- Main Container -->
    <div  class="container">
        <div class="row justify-content-md-center">
            <div class="col">
                <div ng-controller="Ctrl_Date" class="text-center">
                    {{ today | date }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="col">
                    <div ng-controller="Ctrl_tradeBalance">
                        <br />
                        <h4>Current Trade Balance : {{myTradeBalance}} &euro;</h4>
                        <table class="table table-striped table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">15m</th>
                                    <th scope="col">1h</th>
                                    <th scope="col">3h</th>
                                    <th scope="col">6h</th>
                                    <th scope="col">12h</th>
                                    <th scope="col">1d</th>
                                    <th scope="col">2d</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{TBEvolution15m}} &percnt;</td>
                                    <td>{{TBEvolution1h}} &percnt;</td>
                                    <td>{{TBEvolution3h}} &percnt;</td>
                                    <td>{{TBEvolution6h}} &percnt;</td>
                                    <td>{{TBEvolution12h}} &percnt;</td>
                                    <td>{{TBEvolution1d}} &percnt;</td>
                                    <td>{{TBEvolution2d}} &percnt;</td>
                                </tr>
                            </tbody>
                        </table>
                        <canvas id="TradeBalanceLineChart" width="200" height="200"></canvas>
                    </div>
                </div>
            </div>
            <div class="col">
                <br />
                <h4>Balance details</h4>
                <table ng-controller="Ctrl_Balance" class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Currency</th>
                            <th scope="col">Units</th>
                            <th scope="col">EUR Stock Price</th>
                            <th scope="col">EUR value</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="asset in myBalance">
                        <tr>
                            <td>{{asset.currency}}</td>
                            <td>{{asset.units}}</td>
                            <td>{{asset.price}}</td>
                            <td>{{asset.eur_value}}</td>
                        </tr>
                    </tbody>
                </table>
                <h4>Open orders</h4>
                <table ng-controller="Ctrl_OpenOrders" class="table table-striped table-dark">
                    <thead>
                    <tr>
                        <th scope="col">Pair</th>
                        <th scope="col">Order type</th>
                        <th scope="col">Order subtype</th>
                        <th scope="col">Volume</th>
                        <th scope="col">Price</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="order in myOpenOrders">
                    <tr>
                        <td>{{order.pair}}</td>
                        <td>{{order.type}}</td>
                        <td>{{order.ordertype}}</td>
                        <td>{{order.vol}}</td>
                        <td>{{order.price}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        <script>
            var app = angular.module('myApp', []);

            /* TRADE BALANCE CONTROLLER */
            app.controller('Ctrl_tradeBalance', function($scope, $http, $interval) {
                $http.get("tradeBalance")
                    .then(function(response) {
                        let resp =  response.data;
                        let arrayOfTradeBalances = [];
                        let datetimeOfTradeBalances = [];

                        let i = 1;
                        for(let d in resp){
                            if(resp.hasOwnProperty(d)){
                                arrayOfTradeBalances.unshift(resp[d].eur_balance);
                                datetimeOfTradeBalances.unshift(resp[d].insert_date+' '+resp[d].insert_hour);
                                i++;
                            }
                        }
                        $scope.myTradeBalance = arrayOfTradeBalances[arrayOfTradeBalances.length-1];
                        // Evolution calculation
                        let lastValue = arrayOfTradeBalances[arrayOfTradeBalances.length-1];
                        let oldestValue = 0;
                        let evolution15m = 0;
                        let evolution1h = 0;
                        let evolution3h = 0;
                        let evolution6h = 0;
                        let evolution12h = 0;
                        let evolution1d = 0;
                        let evolution2d = 0;
                        if(arrayOfTradeBalances.length > 15){
                            oldestValue = arrayOfTradeBalances[arrayOfTradeBalances.length-16];
                            console.log(lastValue);
                            console.log(oldestValue);
                            evolution15m = ((lastValue - oldestValue) / oldestValue) * 100;
                            $scope.TBEvolution15m = evolution15m.toFixed(2);
                        }
                        if(arrayOfTradeBalances.length > 60){
                            oldestValue = arrayOfTradeBalances[arrayOfTradeBalances.length-61];
                            console.log(lastValue);
                            console.log(oldestValue);
                            evolution1h = ((lastValue - oldestValue) / oldestValue) * 100;
                            $scope.TBEvolution1h = evolution1h.toFixed(2);
                        }
                        if(arrayOfTradeBalances.length > 180){
                            oldestValue = arrayOfTradeBalances[arrayOfTradeBalances.length-181];
                            console.log(lastValue);
                            console.log(oldestValue);
                            evolution3h = ((lastValue - oldestValue) / oldestValue) * 100;
                            $scope.TBEvolution3h = evolution3h.toFixed(2);
                        }
                        if(arrayOfTradeBalances.length > 360){
                            oldestValue = arrayOfTradeBalances[arrayOfTradeBalances.length-361];
                            console.log(lastValue);
                            console.log(oldestValue);
                            evolution6h = ((lastValue - oldestValue) / oldestValue) * 100;
                            $scope.TBEvolution6h = evolution6h.toFixed(2);
                        }
                        if(arrayOfTradeBalances.length > 720){
                            oldestValue = arrayOfTradeBalances[arrayOfTradeBalances.length-721];
                            console.log(lastValue);
                            console.log(oldestValue);
                            evolution12h = ((lastValue - oldestValue) / oldestValue) * 100;
                            $scope.TBEvolution12h = evolution12h.toFixed(2);
                        }
                        if(arrayOfTradeBalances.length > 1440){
                            oldestValue = arrayOfTradeBalances[arrayOfTradeBalances.length-1441];
                            console.log(lastValue);
                            console.log(oldestValue);
                            evolution1d = ((lastValue - oldestValue) / oldestValue) * 100;
                            $scope.TBEvolution1d = evolution1d.toFixed(2);
                        }
                        if(arrayOfTradeBalances.length > 2880){
                            oldestValue = arrayOfTradeBalances[arrayOfTradeBalances.length-2881];
                            evolution2d = ((lastValue - oldestValue) / oldestValue) * 100;
                            $scope.TBEvolution2d = evolution2d.toFixed(2);
                        }


                        if(arrayOfTradeBalances.length > 1440){
                            datetimeOfTradeBalances = datetimeOfTradeBalances.slice(-1439, -1);
                            arrayOfTradeBalances = arrayOfTradeBalances.slice(-1439, -1);
                        }else{
                            datetimeOfTradeBalances = datetimeOfTradeBalances.slice(--datetimeOfTradeBalances-1, -1);
                            arrayOfTradeBalances = arrayOfTradeBalances.slice(-arrayOfTradeBalances.length-1, -1);
                        }

                        let data = {
                            labels: datetimeOfTradeBalances,
                            datasets: [
                                {
                                    label: "Trade Balance",
                                    backgroundColor: "rgba(51,153,255,1)",
                                    borderColor: "rgba(204,229,255,1)",
                                    strokeColor: "rgba(151,187,205,1)",
                                    strokeColor: "rgba(151,187,205,1)",
                                    pointColor: "rgba(151,187,205,1)",
                                    pointStrokeColor: "#fff",
                                    pointHighlightFill: "#fff",
                                    pointHighlightStroke: "rgba(220,220,220,1)",
                                    data: arrayOfTradeBalances
                                }
                            ]
                        };
                        var options = { };
                        var ctx = document.getElementById("TradeBalanceLineChart").getContext("2d");
                        var myLineChart = new Chart(ctx, {
                            type: 'line',
                            data: data,
                            options: options
                        });


                    });
                $interval(function() {
                    $http.get("tradeBalance")
                        .then(function(response) {
                            let resp =  response.data;
                            let arrayOfTradeBalances = [];
                            let datetimeOfTradeBalances = [];

                            let i = 1;
                            for(let d in resp){
                                if(resp.hasOwnProperty(d)){
                                    arrayOfTradeBalances.unshift(resp[d].eur_balance);
                                    datetimeOfTradeBalances.unshift(resp[d].insert_date+' '+resp[d].insert_hour);
                                    i++;
                                }
                            }
                            $scope.myTradeBalance = arrayOfTradeBalances[arrayOfTradeBalances.length-1];
                            // Evolution calculation
                            let lastValue = arrayOfTradeBalances[arrayOfTradeBalances.length-1];
                            let oldestValue = 0;
                            let evolution15m = 0;
                            let evolution1h = 0;
                            let evolution3h = 0;
                            let evolution6h = 0;
                            let evolution12h = 0;
                            let evolution1d = 0;
                            let evolution2d = 0;
                            if(arrayOfTradeBalances.length > 15){
                                oldestValue = arrayOfTradeBalances[arrayOfTradeBalances.length-16];
                                console.log(lastValue);
                                console.log(oldestValue);
                                evolution15m = ((lastValue - oldestValue) / oldestValue) * 100;
                                $scope.TBEvolution15m = evolution15m.toFixed(2);
                            }
                            if(arrayOfTradeBalances.length > 60){
                                oldestValue = arrayOfTradeBalances[arrayOfTradeBalances.length-61];
                                console.log(lastValue);
                                console.log(oldestValue);
                                evolution1h = ((lastValue - oldestValue) / oldestValue) * 100;
                                $scope.TBEvolution1h = evolution1h.toFixed(2);
                            }
                            if(arrayOfTradeBalances.length > 180){
                                oldestValue = arrayOfTradeBalances[arrayOfTradeBalances.length-181];
                                console.log(lastValue);
                                console.log(oldestValue);
                                evolution3h = ((lastValue - oldestValue) / oldestValue) * 100;
                                $scope.TBEvolution3h = evolution3h.toFixed(2);
                            }
                            if(arrayOfTradeBalances.length > 360){
                                oldestValue = arrayOfTradeBalances[arrayOfTradeBalances.length-361];
                                console.log(lastValue);
                                console.log(oldestValue);
                                evolution6h = ((lastValue - oldestValue) / oldestValue) * 100;
                                $scope.TBEvolution6h = evolution6h.toFixed(2);
                            }
                            if(arrayOfTradeBalances.length > 720){
                                oldestValue = arrayOfTradeBalances[arrayOfTradeBalances.length-721];
                                console.log(lastValue);
                                console.log(oldestValue);
                                evolution12h = ((lastValue - oldestValue) / oldestValue) * 100;
                                $scope.TBEvolution12h = evolution12h.toFixed(2);
                            }
                            if(arrayOfTradeBalances.length > 1440){
                                oldestValue = arrayOfTradeBalances[arrayOfTradeBalances.length-1441];
                                console.log(lastValue);
                                console.log(oldestValue);
                                evolution1d = ((lastValue - oldestValue) / oldestValue) * 100;
                                $scope.TBEvolution1d = evolution1d.toFixed(2);
                            }
                            if(arrayOfTradeBalances.length > 2880){
                                oldestValue = arrayOfTradeBalances[arrayOfTradeBalances.length-2881];
                                evolution2d = ((lastValue - oldestValue) / oldestValue) * 100;
                                $scope.TBEvolution2d = evolution2d.toFixed(2);
                            }


                            if(arrayOfTradeBalances.length > 1440){
                                datetimeOfTradeBalances = datetimeOfTradeBalances.slice(-1439, -1);
                                arrayOfTradeBalances = arrayOfTradeBalances.slice(-1439, -1);
                            }else{
                                datetimeOfTradeBalances = datetimeOfTradeBalances.slice(--datetimeOfTradeBalances-1, -1);
                                arrayOfTradeBalances = arrayOfTradeBalances.slice(-arrayOfTradeBalances.length-1, -1);
                            }

                            let data = {
                                labels: datetimeOfTradeBalances,
                                datasets: [
                                    {
                                        label: "Trade Balance",
                                        backgroundColor: "rgba(51,153,255,1)",
                                        borderColor: "rgba(204,229,255,1)",
                                        strokeColor: "rgba(151,187,205,1)",
                                        strokeColor: "rgba(151,187,205,1)",
                                        pointColor: "rgba(151,187,205,1)",
                                        pointStrokeColor: "#fff",
                                        pointHighlightFill: "#fff",
                                        pointHighlightStroke: "rgba(220,220,220,1)",
                                        data: arrayOfTradeBalances
                                    }
                                ]
                            };
                            var options = { };

                            var ctx = document.getElementById("TradeBalanceLineChart").getContext("2d");
                            var myLineChart = new Chart(ctx, {
                                type: 'line',
                                data: data,
                                options: options
                            });

                            oldestValue = arrayOfTradeBalances[0];
                            lastValue = arrayOfTradeBalances[arrayOfTradeBalances.length-1];
                            let evolution = ((lastValue - oldestValue) / oldestValue) * 100;
                            evolution = evolution.toFixed(2);
                            $scope.myTradeBalanceEvolution = evolution;
                        });
                },60000);
            });

            /* DATE CONTROLLER */
            app.controller('Ctrl_Date', function($scope, $interval) {
                $interval(function() {
                    var currentdate = new Date();
                    var datetime = "Time : " + currentdate.getDate() + "/"
                        + (currentdate.getMonth()+1)  + "/"
                        + currentdate.getFullYear() + "  -  "
                        + currentdate.getHours() + ":"
                        + currentdate.getMinutes() + ":"
                        + currentdate.getSeconds();
                    $scope.today = datetime;
                });
            });
            app.controller('Ctrl_Balance', function($scope, $http, $interval) {
                $http.get("Balance")
                    .then(function(response) {
                        $scope.myBalance = response.data;
                    }).catch(function(response) {
                    $scope.myBalance = 'Erreur';
                });
                $interval(function() {
                    $http.get("Balance")
                        .then(function(response) {
                            $scope.myBalance = response.data;
                        })
                        .catch(function(response) {
                            $scope.myBalance = 'Erreur';
                        });
                },90000);
            });

            /* OPEN ORDERS CONTROLLER */
            app.controller('Ctrl_OpenOrders', function($scope, $http, $interval) {
                $http.get("OpenOrders")
                    .then(function(response) {
                        $scope.myOpenOrders = response.data;
                    }).catch(function(response) {
                    $scope.myOpenOrders = 'Erreur';
                });
                $interval(function() {
                    $http.get("OpenOrders")
                        .then(function(response) {
                            $scope.myOpenOrders = response.data;
                        })
                        .catch(function(response) {
                            $scope.myOpenOrders = 'Erreur';
                        });
                },30000);
            });
        </script>
    </body>
</html>