<!DOCTYPE html>
<html lang="en" >
<head>
    <title>--- Trading Robot interface ---</title>
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="images/favicon.jpg" />
    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/darkly/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!--- Chart -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body ng-app="myApp">

    <!-- Navigation bar -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Market</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Analyses</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/settings">Settings</a>
        </li>
    </ul>
    <div  class="container">
        <div class="row justify-content-md-center">
            <div class="col">
                <div ng-controller="Ctrl_Date" class="text-center">
                    {{ today | date }}
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col">
                <br />
                <h4>Cron Tasks</h4>
                <table ng-controller="Ctrl_CronTasks" class="table table-striped table-dark">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">CRON expression</th>
                        <th scope="col">Active</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="tasks in myCronTasks">
                    <tr>
                        <td>{{tasks.name}}</td>
                        <td>{{tasks.cron_expression}}</td>
                        <td>
                            <div ng-if="tasks.active == true">
                                <button ng-attr-id="{{tasks._id}}" type="button" class="btn btn-danger btn-sm" ng-click="changeCronTaskStatus(tasks._id, tasks.active)">D&eacute;sactiver</button>
                            </div>
                            <div ng-if="tasks.active == false">
                                <button ng-attr-id="{{tasks._id}}" type="button" class="btn btn-success btn-sm" ng-click="changeCronTaskStatus(tasks._id, tasks.active)">Activer</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <br />
                <h4>Keltner Triggers</h4>
                <table ng-controller="Ctrl_KeltnerTriggers" class="table table-striped table-dark">
                    <thead>
                    <tr>
                        <th scope="col">Value</th>
                        <th scope="col">Active</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="trigger in myKeltnerTriggers">
                    <tr>
                        <td>{{trigger.value}} x</td>
                        <td>
                            <div ng-if="trigger.active == true">
                                <button ng-attr-id="{{trigger._id}}" type="button" class="btn btn-danger btn-sm" ng-click="changeKeltnerTriggerStatus(trigger._id, trigger.active)">D&eacute;sactiver</button>
                            </div>
                            <div ng-if="trigger.active == false">
                                <button ng-attr-id="{{trigger._id}}" type="button" class="btn btn-success btn-sm" ng-click="changeKeltnerTriggerStatus(trigger._id, trigger.active)">Activer</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col">
                <br />
                <h4>Mobile Average Triggers</h4>
                <table ng-controller="Ctrl_MMEvolTriggers" class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Period</th>
                            <th scope="col">5m</th>
                            <th scope="col">15m</th>
                            <th scope="col">30m</th>
                            <th scope="col">45m</th>
                            <th scope="col">60m</th>
                            <th scope="col">75m</th>
                            <th scope="col">90m</th>
                            <th scope="col">105m</th>
                            <th scope="col">2h</th>
                            <th scope="col">3h</th>
                            <th scope="col">6h</th>
                            <th scope="col">9h</th>
                            <th scope="col">12h</th>
                            <th scope="col">1d</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="triggers in myMMEvolTriggers">
                            <td> p {{triggers[0].period}}</td>
                            <td ng-repeat="trig in triggers">
                                <div ng-if="trig.active == true">
                                    <a ng-click="changeTriggerStatus(trig.id, trig.active)"><img src="/images/switch_on_min.png" /></a>
                                </div>
                                <div ng-if="trig.active == false">
                                    <img ng-attr-id="{{trig.id}}" src="/images/switch_off_min.png" ng-click="changeTriggerStatus(trig.id, trig.active)" />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('Ctrl_CronTasks', function($scope, $http) {
            $http.get("cronTasks")
                .then(function(response) {
                    $scope.myCronTasks = response.data;
                }).catch(function(response) {
                $scope.myCronTasks = 'Erreur';
            });

            $scope.changeCronTaskStatus = function(id, active) {
                let data = {task_id: id, active_task: active};
                $http({
                    method: 'POST',
                    url: 'changeCronTaskStatus',
                    headers: {'Content-Type': 'application/json'},
                    data: data
                }).then(function (response) {
                    $http.get("cronTasks")
                        .then(function(response) {
                            $scope.myCronTasks = response.data;
                        }).catch(function(response) {
                        $scope.myCronTasks = 'Erreur';
                    });
                });
            }
        });

        app.controller('Ctrl_KeltnerTriggers', function($scope, $http) {
            $http.get("keltnerTriggers")
                .then(function(response) {
                    $scope.myKeltnerTriggers = response.data;
                }).catch(function(response) {
                $scope.myKeltnerTriggers = 'Erreur';
            });

            $scope.changeKeltnerTriggerStatus = function(id, active) {
                let data = {trig_id: id, active_trig: active};
                $http({
                    method: 'POST',
                    url: 'changeKeltnerTriggersStatus',
                    headers: {'Content-Type': 'application/json'},
                    data: data
                }).then(function (response) {
                    $http.get("keltnerTriggers")
                        .then(function(response) {
                            $scope.myKeltnerTriggers = response.data;
                        }).catch(function(response) {
                        $scope.myKeltnerTriggers = 'Erreur';
                    });
                });
            }
        });


        app.controller('Ctrl_MMEvolTriggers', function($scope, $http) {
            $http.get("mmEvolTriggers")
                .then(function(response) {
                    let triggers = response.data;
                    let tableTriggers = [];
                    let tableTriggers2d = [];
                    let count = 1;
                    for(let i=0; i<triggers.length; i++){
                         let triggerLine = {
                             id: triggers[i]._id,
                             period: triggers[i].period,
                             mm: triggers[i].mm,
                             active:  triggers[i].active
                         };
                         tableTriggers.push(triggerLine);
                         if(count % 14 === 0){
                             tableTriggers2d.push(tableTriggers);
                             tableTriggers = [];
                         }
                         count++;
                    }
                    $scope.myMMEvolTriggers = tableTriggers2d;
                }).catch(function(response) {
                $scope.myMMEvolTriggers = 'Erreur';
                });

            $scope.changeTriggerStatus = function(id, active) {
                let data = {trig_id: id, active_trig: active};
                $http({
                    method: 'POST',
                    url: 'changeTriggerStatus',
                    headers: {'Content-Type': 'application/json'},
                    data: data
                }).then(function (response) {
                    $http.get("mmEvolTriggers")
                        .then(function(response) {
                            let triggers = response.data;
                            let tableTriggers = [];
                            let tableTriggers2d = [];
                            let count = 1;
                            for(let i=0; i<triggers.length; i++){
                                let triggerLine = {
                                    id: triggers[i]._id,
                                    period: triggers[i].period,
                                    mm: triggers[i].mm,
                                    active:  triggers[i].active
                                };
                                tableTriggers.push(triggerLine);
                                if(count % 14 === 0){
                                    tableTriggers2d.push(tableTriggers);
                                    tableTriggers = [];
                                }
                                count++;
                            }
                            $scope.myMMEvolTriggers = tableTriggers2d;
                        }).catch(function(response) {
                        $scope.myMMEvolTriggers = 'Erreur';
                    });
                });
            }
        });

        // DATE Controller
        app.controller('Ctrl_Date', function($scope, $interval) {
            $interval(function() {
                var currentdate = new Date();
                var datetime = "Time : " + currentdate.getDate() + "/"
                    + (currentdate.getMonth()+1)  + "/"
                    + currentdate.getFullYear() + "  -  "
                    + currentdate.getHours() + ":"
                    + currentdate.getMinutes() + ":"
                    + currentdate.getSeconds();
                $scope.today = datetime;
            },1000);
        });

    </script>

</body>
</html>